URxvt.font: xft:Fira Code:pixelsize=13:antialias=true,xft:DejaVu Sans Mono for Powerline-9
! disable bold fonts by just applying the same font string:
! URxvt.font: xft:terminus12
! URxvt.boldFont: xft:terminus12
URxvt.saveLines: 8192
URxvt.scrollBar: false
! do not scroll with output
URxvt.scrollTtyOutput: false
! scroll in relation to buffer (with mouse scroll or Shift+Page Up)
URxvt.scrollWithBuffer: true
! scroll back to the bottom on keypress
URxvt.scrollTtyKeypress: true

! Base16 Material Palenight
! Scheme: Nate Peterson

#define base00 #292d3e
#define base01 #444267
#define base02 #32374d
#define base03 #676e95
#define base04 #8796b0
#define base05 #959dcb
#define base06 #959dcb
#define base07 #ffffff
#define base08 #f07178
#define base09 #f78c6c
#define base0A #ffcb6b
#define base0B #c3e88d
#define base0C #89ddff
#define base0D #82aaff
#define base0E #c792ea
#define base0F #ff5370

*foreground:   base05
#ifdef background_opacity
*background:   [background_opacity]base00
#else
*background:   base00
#endif
*cursorColor:  base05

! black
*color0:       base00
*color8:       base03

! red
*color1:       base08
*color9:       base08

! yellow
*color2:       base0B
*color10:      base0B

! green
*color3:       base0A
*color11:      base0A

! blue
*color4:       base0D
*color12:      base0D

! magenta
*color5:       base0E
*color13:      base0E

! cyan
*color6:       base0C
*color14:      base0C

! white
*color7:       base05
*color15:      base07


! Note: colors beyond 15 might not be loaded (e.g., xterm, urxvt),
! use 'shell' template to set these if necessary
*color16:      base09
*color17:      base0F
*color18:      base01
*color19:      base02
*color20:      base04
*color21:      base06
